footer {
    width: 100vw;
    display: block;
    position: static;
    bottom: 0px;
    right: 0px;
    height: 60px;
    background-color: $white;

    nav ul {
        display: flex;
        justify-content: flex-end;
        line-height: 60px;

        li {
            padding-right: 110px;
        }

    }
}