.edit {
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    i {
        padding-left: 40px;
        padding-right: 10px;
    }
}


.adminBanner {
    width: 100%;
    box-sizing: border-box;

    .bannerContent {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        height: 60px;
        background-color: $black;
        color: $white;
        gap: 10px;
        align-items: center;
        font-size: 1rem;

        p {
            margin: 0;
        }
    }
}