body {
    width: 100%;
    box-sizing: border-box;
    font-family: $txt-main;
    font-size: 0.9rem;
    background-color: $bg-color;
}

.mainContainer {
    max-width: 1140px;
align-self: center;    margin: 0 auto 0 auto;
font-family: $txt-main;
    font-size: 0.9rem;
    background-color: $bg-color;
}


.masked {
    display: none;
}