#filters {
    button {
        @include btnRounded;
        font: 700 1rem Syne;
        color: $main-color;
        background-color: transparent;
        width: auto;
        border: 1px solid $main-color;

        &:focus {
            color: $white;
            background-color: $main-color;
            outline: $main-color;
        }
    }
}