.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    img {
        width: 310px;
        height: 410px;
        object-fit: cover;
    }
}