$main-color: #1D6154;
$main-color_contrast: #0e2f28;
$secund-color: #B1663C;
$dark-grey: #B3B3B3;
$light-grey: #CBD6DC;
$bg-selectPhoto: #E8F1F6;
$white: white;
$black: black;
$bg-popup: #0000004D;
$bg-color: #fffef8;

$txt-main : 'Work Sans';
$txt-titles : 'Syne';
