/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 1.4rem;
  font-weight: 800;
  color: #B1663C;
}

span {
  font-family: "Work Sans";
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1.8rem;
  color: #0e2f28;
  margin-bottom: 1em;
}

h3 {
  font-family: "Work Sans";
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1em;
}

p {
  margin-bottom: 0.5em;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  justify-content: center;
  display: flex;
  align-content: center;
}

.popupNav {
  width: 580px;
  box-sizing: border-box;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.popupNav .btnPopup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
}

.popupNav .closePopup {
  display: flex;
  justify-items: flex-end;
}

.popupContent {
  width: 630px;
  height: 690px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  align-self: center;
}

.popupContent input[type=submit] {
  width: 60%;
}

.page-one {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.page-one .miniGallery {
  display: grid;
  max-height: 430px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 24px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  overflow-y: auto;
}

.page-one .miniGallery figure {
  width: 98%;
  height: 100px;
  display: flex;
  position: relative;
}

.page-one .miniGallery figure img {
  display: flex;
  width: 100%;
  height: 105px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.page-one .miniGallery figure img:hover {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btnTrash {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 4px;
  top: 4px;
}

.btnTrash i {
  display: flex;
  padding: 4px;
  border-radius: 2px;
  font-size: 0.6rem;
  background-color: black;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btnTrash i:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.lineDecor {
  display: flex;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #B3B3B3;
  background-color: white;
  width: 420px;
  margin-top: 25px;
  justify-content: center;
}

.page-two {
  width: 420px;
  display: flex;
  flex-direction: column;
}

#filters button {
  height: 40px;
  width: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0 30px;
  cursor: pointer;
  font: 700 1rem Syne;
  color: #1D6154;
  background-color: transparent;
  width: auto;
  border: 1px solid #1D6154;
}

#filters button:focus {
  color: white;
  background-color: #1D6154;
  outline: #1D6154;
}

input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  height: 40px;
  width: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0 30px;
  cursor: pointer;
  color: white;
  background-color: #1D6154;
  text-align: center;
  border: none;
  margin: 2em auto;
  font-family: "Syne";
  font-weight: 700;
}

input[type=submit]:hover {
  background-color: #0e2f28;
}

footer {
  width: 100%;
  display: block;
  position: static;
  bottom: 0px;
  right: 0px;
  height: 60px;
  background-color: white;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  line-height: 60px;
}

footer nav ul li {
  padding-right: 110px;
}

form {
  display: flex;
  width: 380px;
  margin: auto;
  text-align: left;
  flex-direction: column;
}

label {
  margin: 2em 0 0.5em 0;
}

input,
select {
  height: 50px;
  font-size: 1.2em;
  font-family: "Work Sans";
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

textarea {
  font-size: 1.2em;
  font-family: "Work Sans";
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.createProject {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin: auto;
}

.createProject .selectPhoto {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  align-content: center;
  height: 170px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #E8F1F6;
  text-align: center;
  color: #CBD6DC;
}

.createProject .selectPhoto * {
  margin: 0;
}

.createProject .selectPhoto #explore {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.createProject .selectPhoto .fa-image {
  font-size: 75px;
  line-height: 75px;
}

.createProject .selectPhoto #btnAddPhoto {
  background-color: #CBD6DC;
  color: #1D6154;
  margin: 10px auto;
  height: 40px;
  width: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0 30px;
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.createProject .selectPhoto p {
  text-align: center;
  color: black;
}

.createProject .selectPhoto .prevNewProject {
  display: none;
  width: auto;
  margin: auto;
  height: 170px;
  position: absolute;
  align-self: center;
  z-index: 2;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 310px;
  height: 410px;
  -o-object-fit: cover;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 0 10px;
}

li a {
  text-decoration: none;
  color: #0e2f28;
  font-size: 1.1em;
  line-height: 22px;
}

li a:hover {
  color: #B1663C;
  cursor: pointer;
}

li a img {
  width: 22px;
  height: 22px;
  padding: 0;
  vertical-align: bottom;
}

li:hover {
  color: #B1663C;
  cursor: pointer;
}

.logBtn {
  display: flex;
}

section {
  margin: auto;
  width: 950px;
}

#introduction {
  padding: 90px 0 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#introduction figure {
  width: -moz-fit-content;
  width: fit-content;
}

#introduction img {
  display: block;
  margin: auto;
  width: 475px;
}

#introduction article {
  width: 400px;
  height: auto;
}

#portfolio {
  padding: 50px 0 50px 0;
  box-sizing: border-box;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 90px;
}

#portfolio #filters {
  width: 100%;
  gap: 15px;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

#contact {
  width: 100%;
}

#contact h2,
#contact p {
  text-align: center;
}

#contact label,
#contact input,
#contact textarea {
  text-align: left;
}

#login {
  width: 50%;
  margin: 20vh auto;
}

#login h2 {
  text-align: center;
}

#login a {
  text-decoration: none;
  text-decoration: underline;
  font-weight: 500;
  font-size: 1em;
  color: #0e2f28;
  text-align: center;
}

#login a:hover {
  color: #1D6154;
}

.errorBox {
  font-size: 1rem;
  color: red;
  text-align: center;
  padding-top: 20px;
}

.edit {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit i {
  padding-left: 40px;
  padding-right: 10px;
}

.bannerContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.bannerContent p {
  margin: 0;
}

body {
  font-family: "Work Sans";
  font-size: 0.9rem;
  background-color: #fffef8;
}

.mainContainer {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 0.9rem;
  background-color: #fffef8;
}

.masked {
  display: none;
}

/*# sourceMappingURL=main.css.map */